@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SUIT-Regular";
}

.bg-primary {
  @apply bg-gray-300/50 dark:bg-zinc-800;
}

.project-card {
  @apply flex flex-col w-full h-full bg-gray-100 dark:bg-zinc-700/50 
  rounded-xl cursor-pointer transition duration-300 transform border 
  border-gray-300 shadow-md shadow-zinc-300 dark:border-zinc-800 
  dark:shadow-black hover:scale-105 hover:shadow-2xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

footer {
  @apply text-gray-600 dark:text-white border-t border-gray-300 dark:border-gray-700;
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-200 dark:hover:text-slate-50;
}

p {
  @apply text-slate-500 dark:text-slate-300/60;
}

.badge {
  @apply px-2 py-1 mr-2 my-1 rounded-md bg-blue-500 text-white shadow-md shadow-zinc-200 dark:shadow-zinc-900;
}

.badge_brown {
  background-color: #171717;
  border: 1px solid #bebebe;
}

.badge_green {
  background-color: #0bb6d4;
}

.badge_blue {
  background-color: #2cc1e8;
}

.badge_purple {
  background-color: #1e62c8;
}

.badge_pink {
  background-color: #e4663c;
}

.badge_red {
  background-color: #ead44d;
  color: #2f3028 !important;
  font-weight: 800 !important;
}

.badge_yellow {
  background-color: #4f5b93;
}

.badge_orange {
  background-color: #0a61ab;
}

.link_btn {
  @apply block mb-10 p-4 bg-gray-100 dark:bg-zinc-700/50
  transition duration-300 border border-gray-300 dark:border-zinc-800 shadow-md shadow-zinc-300 
  dark:shadow-zinc-900 hover:shadow-2xl;
}
